<header>
  <nav>
    <div class="navbar">
      <section class="navbar-section">
        <a href="/" class="btn btn-link"> Home </a>
        <a href="/projects" class="btn btn-link"> Projects </a>
        <a href="/about" class="btn btn-link"> About </a>
        <a href="/contact" class="btn btn-link"> Contact </a>
        {{#if isLoggedIn}}
          <div class="to-the-right">
            <a href="/logout" class="btn btn-link">Logout</a>
          </div>
        {{else}}
          <a
            href="/login"
            id="login"
            class="btn btn-link to-the-right"
          >Login</a>
        {{/if}}
      </section>
    </div>
  </nav>
</header>