<header>
  <nav>
    <div class="navbar">
      <section class="navbar-section">
        <a href="/" class="btn btn-link"> Home </a>
        <a href="/projects" class="btn btn-link"> Projects </a>
        <a href="/about" class="btn btn-link"> About </a>
        <a href="/contact" class="btn btn-link"> Contact </a>
      </section>
    </div>
  </nav>
</header>