<div id="main">
  <div class="error">
    <div><h1>ERROR 404: NOT FOUND</h1></div>

    <div>
      <p>Sorry, the requested page was not found on this site. </p>
      <p>Please consider going back to the <a href="/">home page</a>.</p>
    </div>
  </div>
</div>