<div id="main">
  <div>
    <h1>About</h1>
    <div>
      This project presents my portfolio online. Here you can find my teaching
      and learning activities at three universities.
    </div>
  </div>
</div>