<div id="main">
  <div class="about">
    <h1>ABOUT ME</h1>
    <h2>
      {{#if isLoggedIn}}
        Hi,{{name}}! &nbsp; &nbsp;
      {{/if}}</h2>
    <br />
    <p>Hi, I'm Jie Chen, a second-year student at Jönköping University studying
      New Media Design. I'm passionate about creating digital experiences.
    </p>
    <br />
    <br />
    <h2>I'm skilled in:</h2>
    <br />
    <ul>
      {{#each skills}}
        <li><a href='/projects/skills/{{sid}}'>{{sname}}</a> - ({{spro}})</li>
      {{/each}}
    </ul>
    <ul>
      <li>Front-end web development (HTML, CSS, JavaScript)</li>
      <li>Back-end development (Node.js, Express)</li>
      <li>Database management (SQLite3)</li>
      <li>Templating (Handlebars)</li>
      <li>Design tools (Miidjourney, Photoshop, InDesign, Illustrator)</li>
    </ul>
    <br />
    <p>I love blending technology and creativity to craft engaging digital
      experiences. Let's work together to create something amazing!</p>
  </div>
</div>