<div id="main">
  <div class="contact">
    <h1>CONTACT</h1>
    <br />
    <p>Feel free to get in touch with me for any inquiries, collaboration
      opportunities, or just to say hello! I'm always excited to connect with
      you.</p>

    <br />
    <a href="mailto:jie@ju.se">
    <i class="fa-solid fa-envelope"></i>
    chji22dj@student.ju.se</a>
    <br />
    <i class="fa-solid fa-phone"></i>
    07070707
    <br />
    <i class="fa fa-home"></i>
    Djurgatan, 55898, Jönköping
    <br />
 <a href="https://www.linkedin.com/in/jie-chen-1768a725/" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
      LinkedIn

  </div>
</div>