<div id="main">
  <div class="intro">
    <h1>JIE CHEN'S PORTFOLIO</h1>
  </div>
  <h2>
    {{#if isLoggedIn}}
      Hi,{{name}}! &nbsp; &nbsp;
    {{/if}}</h2>
  <div class="person-img">
    <img src="/img/Jie-mid.png" alt="Jie image" /></div>
</div>