<div id="main">
  <div>
    <h1>Log in</h1>
    <div class="form-group" class="container">
      <form
        class="column col-6 col-md-10 col-sm-12"
        action="/login"
        method="post"
      >
        <fieldset>
          <label class="form-label" for="un">Username:</label>
          <input
            class="form-input"
            type="text"
            name="un"
            id="un"
            required="required"
          />
          <br />
          <label class="form-label" for="pw">Password: </label>
          <input
            class="form-input"
            type="password"
            name="pw"
            id="pw"
            required="required"
          />
          <br />
        </fieldset>
        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</div>