<div id="main">
  <h1>Edit Profile</h1>
  <h2>
    {{#if isLoggedIn}}
      Hi,{{name}}!
    {{/if}}
  </h2>
  <div class="form-group" class="container">
    <!-- Form for updating profile information -->
    {{#if isLoggedIn}}
    {{#each profile}}
      <form
        class="column col-6 col-md-10 col-sm-12"
        method="POST"
        action="/profile"
      >
        <label class="form-label" for="email">Email:</label>
        <input
          type="text"
          id="email"
          name="email"
          value="{{email}}"
          required
        />

        <label class="form-label" for="phone">Phone:</label>
        <input
          type="text"
          id="phone"
          name="phone"
          value="{{phone}}"
          required
        />
        <br />
        <br />
        <input type="submit" value="Update Profile" />
      </form>
      {{/each}}
    {{else}}
      <p>You must be logged in to access this page.</p>
    {{/if}}
  </div>
</div>