* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cbcbcb;
  box-sizing: border-box;
}
.intro {
  font-size: 1.5em;
}
.person-img {
  margin-top: 3%;
}
.person-img img {
  height: 65vh;
  width: auto;
}

nav {
  list-style-type: none;
  overflow: hidden;
  float: right;
  display: inline;
  text-align: center;
  padding-right: 2%;
}
.btn.btn-link {
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  color: rgb(0, 0, 0);
  height: 4%;
  width: 100%;
}

footer div {
  text-align: center;
  padding-top: 8px;
}

#main {
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
}

#main h1 {
  font-size: 3em;
}

.error {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.error h1 {
  font-size: 5em;
  margin-bottom: 5%;
}
.error a {
  text-decoration: none;
  color: #af1d1d;
}
.contact a {
  text-decoration: none;
  color: black;
}
.container {
  margin-bottom: 5%;
}
.columns {
  box-sizing: border-box;
}
.card-footer a {
  color: black;
}
a.important {
  color: #af1d1d;
}

.card-image {
  height: 35vh;
  width: 100%;
}
.card-image img {
  height: auto;
}

#login {
  color: #af1d1d;
}

#new {
  color: #af1d1d;
}
.form-input {
  background: #cbcbcb;
}
.form-input:not(:placeholder-shown):invalid {
  border-color: black;
}

input[type="submit"] {
  background-color: #af1d1d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: inline-start;
}
.form-select {
  width: 50%;
  background: #cbcbcb;
}
.about a {
  color: #af1d1d;
}
#github {
  color: #af1d1d;
}
#profile {
  color: #af1d1d;
}
#manager {
  color: #045a22;
}
.pagination {
  display: flex;
  column-gap: 6px;
  justify-content: center;
  list-style: none;
  margin-top: 2%;
  padding: 0;
}
.pagination a {
  margin: 0 1px;
  color: black;
}
#userContainer {
  width: 100%;
}
