* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #cbcbcb;
  box-sizing: border-box;
}
.intro {
  font-size: 1.5em;
}
.person-img {
  margin-top: 3%;
}
.person-img img {
  height: 65vh;
  width: auto;
}

nav {
  list-style-type: none;
  overflow: hidden;
  float: right;
  display: inline;
  text-align: center;
  padding-right: 1.5em;
}
.btn.btn-link {
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  color: rgb(0, 0, 0);
  height: 64px;
  width: 100vw;
}

footer div {
  text-align: center;
  padding-top: 8px;
}

#main {
  width: 100%;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
}

#main h1 {
  font-size: 3em;
}

.error {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.error h1 {
  font-size: 5em;
  margin-bottom: 5%;
}
.error a {
  text-decoration: none;
  color: #af1d1d;
}
.contact a {
  text-decoration: none;
  color: black;
}
.container {
  margin-right: 0px;
}
.columns {
  box-sizing: border-box;
}
.card-footer a {
  color: black;
}
a.important {
  color: #af1d1d;
}

.card-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}
#login {
  color: #af1d1d;
}

#new {
  color: #af1d1d;
}
.form-input {
  max-width: 50%;
  background: #cbcbcb;
}
.form-input:not(:placeholder-shown):invalid {
  border-color: black;
}

input[type="submit"] {
  background-color: #aa0404;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: inline-start;
}
.form-select {
  width: 50%;
  background: #cbcbcb;
}
